@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

$defaultFont: "PT Serif", serif;
$defaulFontColor: #ccd6f6;
$defaultColor1: #64ffda;
$defaultColor2: #495670;
$defaultColor3: #ccd6f6;
$defaultBackgroundarticle: #233554;
$defaultBackgroundColor: rgb(17, 34, 64);
